<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
</head>
<body>
    <form method="post"action="/posts">
        <input type="text"name="username"placeholder="enter name"/><br>
        <textarea placeholder="write your post"name="content"></textarea><br>
        <button>Submit Posts</button>
    </form>
</body>
</html>